.themeselect {
    background-color: #02070e;
    padding: 9px;
    width: 1028px;
    overflow: hidden;
}

button {
    background-color: #050546;
    border: none;
    color: white;
    padding: 15px 23px;
    text-align: center;
    display: inline-block;
    font-size: 17px;
}

body {
    background: url(Images/RotoscopedNagoya.png);
    background-size: 1920px 1080px;
    background-position: top;
    font-size: 15px;
}

.title {
    overflow: hidden;
    background-color: #00112b;
    width: 1046px;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
}

    .title a {
        font-size: 59px;
        font-family: 'Times New Roman';
        color: #0d0d0d;
        text-align: center;
        text-decoration: none;
    }

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 40px #ed1515, 0 0 50px #ed1515, 0 0 60px #ed1515, 0 0 70px #ed1515, 0 0 80px #ed1515, 0 0 90px #ed1515, 0 0 100px #ed1515;
    }

    to {
        text-shadow: 0 0 45px #f56c0a, 0 0 55px #f56c0a, 0 0 65px #f56c0a, 0 75px #f56c0a, 0 0 85px #f56c0a, 0 0 95px #f56c0a, 0 0 105px #f56c0a;
    }
}

.disclaimer {
    overflow: hidden;
    background-color: #f28e14;
    width: 100%;
}

    .disclaimer a {
        font-size: 15px;
        color: #000;
        text-align: center;
        text-decoration: none;
    }


.body {
    width: 1046px;
    overflow: hidden;
    background: #fbf9da;
    font-size: 15px;
}

.sitebody {
    width: 1046px;
    overflow: hidden;
    background: #fbf9da;
    font-size: 15px;
    margin-left: 27px;
    margin-right: 27px;
}

h1 {
    font-size: 41px;
    font-family: 'Cambria Math';
}

h2 {
    font-size: 35px;
    font-family: 'Cambria Math';
}

.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 1046px;
    background-color: #0c1011;
    color: #ddf2f7;
    text-align: center;
    height: 235px;
}

.navbar {
    overflow: hidden;
    background-color: #0a0a09;
    width: 1046px;
}

    .navbar a {
        float: left;
        font-size: 20px;
        color: #e0b836;
        text-align: center;
        padding: 15px 20px;
        text-decoration: none;
    }

.dropdown {
    float: left;
    overflow: hidden;
}

    .dropdown .dropbtn {
        font-size: 19px;
        border: none;
        outline: none;
        color: darkcyan;
        padding: 15px 20px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: midnightblue;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        float: none;
        color: #0c0c0d;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content a:hover {
            background-color: #de092c;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar {
    overflow: hidden;
    background-color: #0a0a09;
}

