body {
    background: rgb(244,242,238);
    background: -moz-linear-gradient(0deg, rgba(244,242,238,1) 23%, rgba(168,202,237,1) 56%, rgba(22,43,110,1) 91%);
    background: -webkit-linear-gradient(0deg, rgba(244,242,238,1) 23%, rgba(168,202,237,1) 56%, rgba(22,43,110,1) 91%);
    background: linear-gradient(0deg, rgba(244,242,238,1) 23%, rgba(168,202,237,1) 56%, rgba(22,43,110,1) 91%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4f2ee",endColorstr="#162b6e",GradientType=1);
    font-size: 15px;
}

.glow {
    font-size: 25px;
    color: #eabb39;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 25px #101141, 0 0 50px #101141, 0 0 45px #101141, 0 0 55px #101141, 0 0 65px #101141, 0 0 75px #101141, 0 0 95px #101141;
    }

    to {
        text-shadow: 0 0 30px #e2073d, 0 0 55px #e2073d, 0 0 50px #e2073d, 0 0 60px #e2073d, 0 0 70px #e2073d, 0 0 80px #e2073d, 0 0 100px #e2073d;
    }
}

hr {
    width: 75%;
}


.heading {
    width: 768px;
    overflow: hidden;
    background: #100d0d;
    font-size: 15px;
}

.sitebody {
    width: 768px;
    overflow: hidden;
    background: #fbf9da;
}

.content {
    font-size: 17px;
    margin-right: 10%;
    margin-left: 10%;
    text-align: justify;
}